<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="https://canardconfit.ch/">CanardConfit</a>.</strong>
    Tous droits réservés
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
