<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a href="/users/logout">Se déconnecter</a>
        </li>
    </ul>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light"><b>Velo</b>Hydro</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <div class="text-white d-block"><%=session.pseudoUser%></div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item<%=activate === "accueil" ? " menu-open" : ""%>">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Accueil
                        </p>
                    </a>
                </li>
                <li class="nav-header">DONNÉES</li>
                <li class="nav-item has-treeview<%=activate.includes("table") ? " menu-open" : ""%>">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Entrées des tables
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item<%=activate === "tablelocs" ? " menu-open" : ""%>">
                            <a href="/tables/locs" class="nav-link">
                                <i class="fas fa-location-arrow nav-icon"></i>
                                <p>Localisations</p>
                            </a>
                        </li>
                        <li class="nav-item<%=activate === "tablevehicules" ? " menu-open" : ""%>">
                            <a href="/tables/vehicules" class="nav-link">
                                <i class="fas fa-biking nav-icon"></i>
                                <p>Vehicules</p>
                            </a>
                        </li>

                        <li class="nav-item<%=activate === "tableusers" ? " menu-open" : ""%>">
                            <a href="/tables/users" class="nav-link">
                                <i class="nav-icon fas fa-user-circle"></i>
                                <p>Utilisateurs</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">MAPS</li>
                <li class="nav-item<%=activate === "all" ? " menu-open" : ""%>">
                    <a href="/map/all" class="nav-link">
                        <i class="nav-icon fas fa-map-marker-alt"></i>
                        <p>Map Trajets</p>
                    </a>
                </li>
                <%if (vehicules.length > 0) {%>
                <li class="nav-item has-treeview<%=activate.includes("view") ? " menu-open" : ""%>">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-biking"></i>
                        <p>
                            Vehicules
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <%vehicules.forEach((v) => {%>
                        <li class="nav-item<%=activate === "view" + v.idVehicule || activate === "viewadd" + v.idVehicule ? " menu-open" : ""%>">
                            <a href="#" class="nav-link">
                                <i style="color: <%=v.color%>;" class="nav-icon fas fa-biking"></i>
                                <p><%=v.nomVehicule%></p>
                                <i class="fas fa-angle-left right"></i>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item<%=activate === "view" + v.idVehicule ? " menu-open" : ""%>">
                                    <a href="/map/view/<%=v.idVehicule%>" class="nav-link">
                                        <i style="color: <%=v.color%>;" class="fas fa-paper-plane nav-icon"></i>
                                        <p>Voir le trajet</p>
                                    </a>
                                </li>
                                <li class="nav-item<%=activate === "viewadd" + v.idVehicule ? " menu-open" : ""%>">
                                    <a href="/map/view/<%=v.idVehicule%>/add" class="nav-link">
                                        <i style="color: <%=v.color%>;" class="fas fa-plus-square nav-icon"></i>
                                        <p>Ajouter des données</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <%});%>
                    </ul>
                </li>
                <%}%>
                <li class="nav-header">UTILISATEURS</li>
                <li class="nav-item<%=activate === "usermanage" ? " menu-open" : ""%>">
                    <a href="/users/manage" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>Gestion des utilisateurs</p>
                    </a>
                </li>
                <li class="nav-header">VEHICULES</li>
                <li class="nav-item<%=activate === "vehiculemanage" ? " menu-open" : ""%>">
                    <a href="/vehicules/manage" class="nav-link">
                        <i class="nav-icon fas fa-biking"></i>
                        <p>Gestion des vehicules</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>