<!DOCTYPE html>
<html>
<head>
    <title>VeloHydro | Liste des utilisateurs</title>
    <%- include("../components/head"); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Accueil</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">Accueil</li>
                        </ol>
                    </div>
                </div>
                <section class="content">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Données des utilisateurs enregistrés</h3>
                        </div>
                        <div class="card-body">
                            <table id="table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Identifiants</th>
                                    <th>Pseudo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%for (let user of users) {%>
                                <tr>
                                    <td><%=user.idUser%></td>
                                    <td><%=user.pseudoUser%></td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
    <script>
        $(function () {
            $("#table").DataTable({
                "language": {
                    "decimal":        "",
                    "emptyTable":     "Aucune donnée disponible dans le tableau",
                    "info":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "infoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
                    "infoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Afficher _MENU_ éléments",
                    "loadingRecords": "Chargement...",
                    "processing":     "Traitement...",
                    "search":         "Rechercher :",
                    "zeroRecords":    "Aucun élément correspondant trouvé",
                    "paginate": {
                        "first":      "Premier",
                        "last":       "Dernier",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    },
                    "aria": {
                        "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true
            });
        });
    </script>
</div>
</body>
</html>
