<!DOCTYPE html>
<html>
  <head>
    <title>VeloHydro | Accueil</title>
    <%- include("components/head"); %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

      <%- include("components/header"); %>

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Accueil</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item active">Accueil</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <section class="content">
          <%
          let annees = [];
          for (let points of data) {
            for (let point of points) {
              if (!annees.includes(point.dateLoc.getYear()+1900, 0)) {
                annees.push(point.dateLoc.getYear()+1900);
              }
            }
          }
          %>
          <p>Bienvenue sur le système <b>Velo</b>Hydro <%=session.pseudoUser%>.</p>
          <h5 class="mb-2">Elements enregistrés</h5>
          <div class="row">
            <div class="col-md-12 col-sm-6 col-12">
              <div class="info-box" style="padding: 0;">
                <span class="info-box-icon bg-teal" style="width: 80px;"><i class="fas fa-tachometer-alt"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">
                    <label>Le système supporte la vitesse a l'enregistrement : </label>
                    <input type="checkbox" onchange="function updateSpeed(checked) {
                      let http = new XMLHttpRequest();
                      http.open('GET', '/options/speed/' + checked);
                      http.send();
                    }
                    updateSpeed(this.checked)" name="my-checkbox" <%=speed ? "checked" : ""%> data-bootstrap-switch />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <h5 class="mb-2">Elements enregistrés</h5>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
              <div class="info-box" style="padding: 0;">
                <span class="info-box-icon bg-cyan" style="width: 80px;"><i class="fas fa-biking"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Vehicules</span>
                  <span class="info-box-number"><%=vehicules.length%></span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
              <div class="info-box" style="padding: 0;">
                <span class="info-box-icon bg-gradient-orange" style="width: 80px;"><i class="fas fa-location-arrow"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Localisations</span>
                  <span class="info-box-number"><%=locs.length%></span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
              <div class="info-box" style="padding: 0;">
                <span class="info-box-icon bg-gradient-green" style="width: 80px;"><i class="fas fa-user"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Utilisateurs</span>
                  <span class="info-box-number"><%=users.length%></span>
                </div>
              </div>
            </div>
          </div>
          <%if (locs.length > 0) {%>
          <h5 class="mb-2 mt-4">Parts dans la base de données</h5>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Part des localisations dans la base de données par vehicule</h3>
                </div>
                <div class="card-body">
                  <canvas id="chartVehiculeLocations" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
            </div>
            <%
            for (let annee of annees) {
            %>
            <div class="col-md-6 col-sm-6 col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Part des localisation <%=annee%> dans la base de données par mois</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="charDateLocations-<%=annee%>" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <%}%>
          </div>
          <h5 class="mb-2 mt-4">Distance parcourue</h5>
          <p>Toutes les valeurs de cette section sont en <b>kilomètre</b>.</p>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Part de la distance total parcourue par les vehicules</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="chartVehiculeKm" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <%
            for (let annee of annees) {
            %>
            <div class="col-md-6 col-sm-6 col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Part des kilomètres <%=annee%> parcourues par mois</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="chartMonthVehiculeKm-<%=annee%>" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <%}%>
          </div>
          <% if (speed) {%>
          <h5 class="mb-2 mt-4">Vitesse</h5>
          <p>Toutes les valeurs de cette section sont en <b>kilomètre(s) par heure</b>.</p>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Vitesse moyenne des vehicules</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="chartVitesseMoyenneVehicule" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <%
            for (let annee of annees) {
            %>
            <div class="col-md-6 col-sm-6 col-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Vitesse moyenne de <%=annee%> des vehicles par mois</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="chartVitesseMoyenneVehiculeAnnee-<%=annee%>" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <%}%>
          </div>
          <%}} else {%><h5 class="mb-2 mt-4">Statistiques</h5><p>Aucune données pour fournir des statistiques.</p><%}%>
        </section>
      </div>
      
      <%- include("components/footer"); %>
      <script src="/plugins/chart.js/Chart.min.js"></script>
      <%- include("components/foot"); %>
      <script>
        <%if (locs.length > 0) {%>
        new Chart($('#chartVehiculeLocations').get(0).getContext('2d'), {
          type: 'pie',
          data: {
            labels: [
              <% for(let vehicule of vehicules) {%>
                '<%=vehicule.nomVehicule%>',
              <%}%>
            ],
            datasets: [
              {
                data: [
                  <%for(let i = 0; i < vehicules.length; i++) {%>
                  '<%=data[i].length%>',
                  <%}%>
                ],
                backgroundColor : [
                  <% for(let vehicule of vehicules) {%>
                  '<%=vehicule.color%>',
                  <%}%>
                ],
              }
            ]
          },
          options: {
            maintainAspectRatio : false,
            responsive : true,
          }
        });

        <%for (let annee of annees) {%>
          new Chart($('#charDateLocations-<%=annee%>').get(0).getContext('2d'), {

          <%
          let noLocs = [];
          %>

          type: 'bar',
          data: {
            datasets: [
              <%
              for(let i = 0; i < vehicules.length; i++) { let vehicule = vehicules[i];%>
              {
                label               : '<%=vehicule.nomVehicule%>',
                backgroundColor     : '<%=vehicule.color%>',
                data                : [
                    <%
                      let points = data[i];

                      for (let mois = 0; mois < 12; mois++) {
                        let num = 0;
                        points.forEach((point)=> {
                          if (point.dateLoc.getMonth() === mois && point.dateLoc.getYear()+1900 === annee) {
                            num += 1;
                          }
                        });

                        if (noLocs.length-1 >= mois) {
                          noLocs[mois] = noLocs[mois] + num;
                        } else {
                          noLocs.push(num);
                        }

                        if (num !== 0 || noLocs[mois] !== 0) {
                          %>'<%=num%>',<%
                        }
                      }
                    %>
                ]
              },
              <%}%>
            ],
            labels  : [
                    <%
                    let l = ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'];

                    for (let ll of l) { if (noLocs[l.indexOf(ll)] === 0) continue;
                      %>'<%=ll%>',<%
                    }%>
            ],
          },
          options: {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false
          }
        })
        <%
        }

        function calcCrow(lat1, lon1, lat2, lon2) {
          var R = 6371; // km
          var dLat = toRad(lat2-lat1);
          var dLon = toRad(lon2-lon1);
          var tlat1 = toRad(lat1);
          var tlat2 = toRad(lat2);

          var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                  Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(tlat1) * Math.cos(tlat2);
          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
          var d = R * c;
          return d;
        }

        function toRad(Value) {
          return Value * Math.PI / 180;
        }
        %>
        new Chart($('#chartVehiculeKm').get(0).getContext('2d'), {
          type: 'pie',
          data: {
            labels: [
              <% for(let vehicule of vehicules) {%>
              '<%=vehicule.nomVehicule%>',
              <%}%>
            ],
            datasets: [
              {
                data: [
                  <%
                  for(let i = 0; i < vehicules.length; i++) {
                      let distance = 0;

                      let oldPoint;

                      data[i].forEach((point) => {

                        if (oldPoint) {

                          distance += calcCrow(point.latLoc, point.longLoc, oldPoint.latLoc, oldPoint.longLoc);
                        }

                        oldPoint = point;
                      });
                  %>
                  '<%=(Math.round(distance * 100) / 100).toFixed(2);%>',
                  <%}%>
                ],
                backgroundColor : [
                  <% for(let vehicule of vehicules) {%>
                  '<%=vehicule.color%>',
                  <%}%>
                ],
              }
            ]
          },
          options: {
            maintainAspectRatio : false,
            responsive : true,
          }
        });

        <%for (let annee of annees) {%>
        new Chart($('#chartMonthVehiculeKm-<%=annee%>').get(0).getContext('2d'), {

          <%
            let noLocs = [];
          %>

          type: 'bar',
          data: {
            datasets: [
              <%
              for(let i = 0; i < vehicules.length; i++) { let vehicule = vehicules[i];%>
              {
                label               : '<%=vehicule.nomVehicule%>',
                backgroundColor     : '<%=vehicule.color%>',
                data                : [
                  <%
                    let points = data[i];

                  for (let mois = 0; mois < 12; mois++) {
                    let distance = 0;
                    let oldPoint;
                    points.forEach((point)=> {
                      if (oldPoint) {
                        if (oldPoint.dateLoc.getMonth() === mois && oldPoint.dateLoc.getYear() + 1900 === annee && point.dateLoc.getMonth() === mois && point.dateLoc.getYear() + 1900 === annee) {
                          distance += calcCrow(point.latLoc, point.longLoc, oldPoint.latLoc, oldPoint.longLoc);
                        }
                      }
                      oldPoint = point;
                    });

                    if (noLocs.length-1 >= mois) {
                      noLocs[mois] = noLocs[mois] + distance;
                    } else {
                      noLocs.push(distance);
                    }

                    if (distance !== 0 || noLocs[mois] !== 0) {
                    %>'<%=(Math.round(distance * 100) / 100).toFixed(2);%>',<%
                    }
                  }
                  %>
                ]
              },
              <%}%>
            ],
            labels  : [
              <%
                let l = ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'];

                      for (let ll of l) { if (noLocs[l.indexOf(ll)] === 0) continue;
              %>'<%=ll%>',<%
              }%>
            ],
          },
          options: {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false
          }
        })
        <%}%>

        <%if (speed) {%>
        new Chart($('#chartVitesseMoyenneVehicule').get(0).getContext('2d'), {
          type: 'pie',
          data: {
            labels: [
              <% for(let vehicule of vehicules) {%>
              '<%=vehicule.nomVehicule%>',
              <%}%>
            ],
            datasets: [
              {
                data: [
                  <%
                  for(let i = 0; i < vehicules.length; i++) {
                      let vitesse = 0;
                      let num = 0;
                      data[i].forEach((point) => {
                        if (point.speedLoc != null) {
                          vitesse += point.speedLoc;
                          num += 1;
                        }
                      });
                  %>
                  '<%=(vitesse !== 0 ? (Math.round(vitesse/num * 100) / 100).toFixed(2) : 0)%>',
                  <%}%>
                ],
                backgroundColor : [
                  <% for(let vehicule of vehicules) {%>
                  '<%=vehicule.color%>',
                  <%}%>
                ],
              }
            ]
          },
          options: {
            maintainAspectRatio : false,
            responsive : true,
          }
        });

        <%for (let annee of annees) {%>
        new Chart($('#chartVitesseMoyenneVehiculeAnnee-<%=annee%>').get(0).getContext('2d'), {

          <%
            let noLocs = [];
          %>

          type: 'bar',
          data: {
            datasets: [
              <%
              for(let i = 0; i < vehicules.length; i++) { let vehicule = vehicules[i];%>
              {
                label               : '<%=vehicule.nomVehicule%>',
                backgroundColor     : '<%=vehicule.color%>',
                data                : [
                  <%
                    let points = data[i];

                  for (let mois = 0; mois < 12; mois++) {
                    let vitesse = 0;
                    let num = 0;
                    points.forEach((point)=> {
                      if (point.speedLoc != null) {
                        if (point.dateLoc.getMonth() === mois && point.dateLoc.getYear() + 1900 === annee) {
                          vitesse += point.speedLoc;
                          num += 1;
                        }
                      }
                    });

                    if (noLocs.length-1 >= mois) {
                      noLocs[mois] = noLocs[mois] + vitesse;
                    } else {
                      noLocs.push(vitesse);
                    }

                    if (vitesse !== 0 || noLocs[mois] !== 0) {
                    %>'<%=(vitesse !== 0 ? (Math.round(vitesse/num * 100) / 100).toFixed(2) : 0)%>',<%
                    }
                  }
                  %>
                ]
              },
              <%}%>
            ],
            labels  : [
              <%
                let l = ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'];

                      for (let ll of l) { if (noLocs[l.indexOf(ll)] === 0) continue;
              %>'<%=ll%>',<%
              }%>
            ],
          },
          options: {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false
          }
        })
        <%}
        }}%>

        $("input[data-bootstrap-switch]").each(function(){
          $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });
      </script>
    </div>
  </body>
</html>
