<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>VeloHydro | Setup Installation</title>

    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/api/adminlte/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="/" class="brand-link">
            <span class="brand-text font-weight-light"><b>Velo</b>Hydro Installation</span>
        </a>
    </aside>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Page d'installation du site VeloHydro V1.0</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Setup</a></li>
                            <li class="breadcrumb-item active">Installation</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="carddb" class="card card-primary card-outline" <%=dbConnected ? "hidden" : ""%>>
                            <div class="card-header">
                                <h5 class="m-0">Configuration de la base de données</h5>
                            </div>
                            <div role="form">
                                <div class="card-body">
                                    <div class="alert alert-danger alert-dismissible" hidden id="errordb">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                        <div id="errorTextdb"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nom d'hote<span class="text-red">*</span></label>
                                        <input type="text" class="form-control" id="host" placeholder="127.0.0.1">
                                    </div>
                                    <div class="form-group">
                                        <label>Port<span class="text-red">*</span></label>
                                        <input type="number" step="1" max="65536" min="0" class="form-control" id="port" placeholder="3306">
                                    </div>
                                    <div class="form-group">
                                        <label>Utilisateur<span class="text-red">*</span></label>
                                        <input type="text" class="form-control" id="username" placeholder="root">
                                    </div>
                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input type="text" class="form-control" id="password">
                                    </div>
                                    <div class="form-group">
                                        <label>Base de données<span class="text-red">*</span></label>
                                        <input type="text" class="form-control" id="database" placeholder="velohydro">
                                    </div>
                                    <div class="form-group">
                                        <p><span class="text-red">*</span> = Obligatoire.</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button onclick="testdb()" class="btn btn-primary">Tester la base de données</button>
                                </div>
                            </div>
                        </div>
                        <div id="cardIM" class="card card-gray card-outline" <%=!dbConnected ? "hidden" : ""%>>
                            <div class="card-header">
                                <h5 class="m-0">Importation et création de la base de données</h5>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-success alert-dismissible" hidden id="successdb">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-check"></i> Succès</h5>
                                    <div id="successTextdb"></div>
                                </div>
                                <div class="alert alert-danger alert-dismissible" hidden id="errorIMdb">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                    <div id="errorTextIMdb"></div>
                                </div>
                                <div class="card-text">Cette étape va importer la base de données et toutes les informations requise pour le fonctionnement. Elle ne va rien supprimer au cas ou il y aurais déjà des tables existantes.</div>
                            </div>
                            <div class="card-footer">
                                <button onclick="importdb()" class="btn btn-primary">Importer</button>
                            </div>
                        </div>
                        <div id="cardFinished" class="card card-green card-outline" hidden>
                            <div class="card-header">
                                <h5 class="m-0">Finalisation de l'installation</h5>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-success alert-dismissible" hidden id="successIMdb">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-check"></i> Succès</h5>
                                    <div id="successTextIMdb"></div>
                                </div>
                                <p class="card-text">L'installation est terminée ! Vous pouvez appuyer sur fermer pour éteindre le serveur et relancer celui-ci comme la première fois.</p>
                                <p class="card-text">Compte par défault :</p>
                                <p class="card-text">Utilisateur  : admin</p>
                                <p class="card-text">Mot de passe : 1234 (A changer)</p>
                            </div>
                            <div class="card-footer">
                                <button onclick="closeSetup()" class="btn btn-primary">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../components/footer"); %>
</div>
<%- include("../components/javascript/setup/installationJS"); %>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/api/adminlte//js/adminlte.min.js"></script>
</body>
</html>
