<!DOCTYPE html>
<html>
<head>
    <title>VeloHydro | Ajout/Suppression de vehicule</title>
    <%- include("../components/head"); %>
    <link rel="stylesheet" href="/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Accueil</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Gestion vehicules</li>
                        </ol>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Enregistrer un nouveau vehicule</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="error">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorText"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="success">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successText"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user">Nom du vehicule</label>
                                                <input type="text" class="form-control" id="nameVehicule">
                                            </div>
                                            <div class="form-group">
                                                <label for="pseudo">Couleur</label>
                                                <div class="input-group vehiculeColor">
                                                    <input  id="colorVehicule" type="text" class="form-control">

                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fas fa-square"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="registerVehicule()" class="btn btn-primary">Enregistrer le vehicule</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Modifier un vehicule</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="errorMod">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorTextMod"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="successMod">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successTextMod"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user">Nom du vehicule à modifier</label>
                                                <input type="text" class="form-control" id="vehiculeMod">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="vehiculeExist()" class="btn btn-primary">Modifier le vehicule</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Supprimer un vehicule</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="errorSupr">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorTextSupr"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="successSupr">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successTextSupr"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="userSupr">Vehicule a supprimer</label>
                                                <input type="text" class="form-control" id="vehiculeSupr">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="deleteVehicule()" class="btn btn-danger">Supprimer le vehicule</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
    <script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <%- include("../components/javascript/vehicules/manageJS"); %>
    <script>
        $('.vehiculeColor').colorpicker();

        $('.vehiculeColor').on('colorpickerChange', function(event) {
            $('.vehiculeColor .fa-square').css('color', event.color.toString());
        });


        document.getElementById("vehiculeSupr").addEventListener("keyup", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                deleteVehicule();
            }
        });
        document.getElementById("vehiculeMod").addEventListener("keyup", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                vehiculeExist();
            }
        });
        document.getElementById("nameVehicule").addEventListener("keyup",  function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                registerVehicule();
            }
        });
    </script>
</div>
</body>
</html>
