<!DOCTYPE html>
<html>
<head>
    <title>VeloHydro | Modification d'un vehicule</title>
    <%- include("../components/head"); %>
    <link rel="stylesheet" href="/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Accueil</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="/vehicules/manage">Gestion vehicules</a></li>
                            <li class="breadcrumb-item active">Modif. <%=vehiculeMod.nomVehicule%></li>
                        </ol>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <h4>Modification de du vehicule <b><%=vehiculeMod.nomVehicule%></b>.</h4>
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Modifier les informations du vehicule</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="errorInfo">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorTextInfo"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="successInfo">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successTextInfo"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user">Nom du vehicule</label>
                                                <input type="text" class="form-control" id="nameVehicule" value="<%=vehiculeMod.nomVehicule%>">
                                            </div>
                                            <div class="form-group">
                                                <label for="pseudo">Couleur du vehicule</label>
                                                <div class="input-group vehiculeColor">
                                                    <input  id="colorVehicule" type="text" class="form-control" value="<%=vehiculeMod.color%>">

                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fas fa-square"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="modifyInfoVehicule()" class="btn btn-primary">Mettre à jour le vehicule</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
    <script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script>
        $('.vehiculeColor').colorpicker();
        $('.vehiculeColor .fa-square').css('color', "<%=vehiculeMod.color%>");

        $('.vehiculeColor').on('colorpickerChange', function(event) {
            $('.vehiculeColor .fa-square').css('color', event.color.toString());
        });
        let vehicule = "<%=vehiculeMod.nomVehicule%>";
    </script>
    <%- include("../components/javascript/vehicules/modifyJS"); %>
</div>
</body>
</html>
