<!DOCTYPE html>
<html lang="fr">
<head>
    <title>VeloHydro | Map Trajets</title>
    <%- include("../components/head"); %>
    <link rel="stylesheet" href="/api/leaflet/leaflet.css" crossorigin=""/>
    <link rel="stylesheet" href="/stylesheets/base.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Map Trajets</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Map Trajets</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div id="map"></div>
        </section>
    </div>

    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
</div>
<script src="/api/leaflet/leaflet.js" crossorigin=""></script>
<%- include("../components/javascript/functions"); %>
<%- include("../components/javascript/map/allJS"); %>
</body>
</html>