<!DOCTYPE html>
<html lang="fr">
<head>
    <title>VeloHydro | Ajouter des données</title>
    <%- include("../components/head"); %>
    <link rel="stylesheet" href="/api/leaflet/leaflet.css" crossorigin=""/>
    <link rel="stylesheet" href="/stylesheets/base.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Ajouter des données</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="/map/view/<%=vehicule.idVehicule%>"><%=vehicule.nomVehicule%></a></li>
                            <li class="breadcrumb-item active">Ajouter des données</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <form id="form" action="" method="POST">
                <div style="width: 150px;" class="mx-auto mb-2 mt-2">
                    <input id="savePoints" type="text" name="latlongPoints" value="" hidden>
                    <div class="btn-group">
                        <input type="submit" name="req_save" value="Sauver" class="btn btn-success">
                        <input type="submit" name="req_discard" value="Annuler" class="btn btn-danger">
                    </div>
                </div>
            </form>
            <div id="map"></div>
        </section>
    </div>
    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
</div>
<script src="/api/leaflet/leaflet.js" crossorigin=""></script>
<%- include("../components/javascript/functions"); %>
<%- include("../components/javascript/map/alvJS"); %>
</body>
</html>