
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>VeloHydro | Voir le trajet</title>
    <%- include("../components/head"); %>
    <link rel="stylesheet" href="/api/leaflet/leaflet.css" crossorigin=""/>
    <link rel="stylesheet" href="/stylesheets/base.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Voir le trajet</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="/map/view/<%=vehicule.idVehicule%>"><%=vehicule.nomVehicule%></a></li>
                            <li class="breadcrumb-item active">Voir le trajet</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div style="width: 150px;" class="mx-auto mb-2 mt-2">
                <div class="btn-group">
                    <form id="form" action="/map/view/<%=vehicule.idVehicule%>/add" method="GET">
                        <input type="text" id="gps" name="gps" value="" hidden>
                        <input type="text" id="zoom" name="zoom" value="" hidden>
                        <input type="submit" value="Modifier" class="btn btn-default">
                    </form>
                </div>
            </div>
            <div id="map"></div>
        </section>
    </div>
    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
</div>
<script src="/api/leaflet/leaflet.js" crossorigin=""></script>
<%- include("../components/javascript/functions"); %>
<%- include("../components/javascript/map/vlvJS"); %>
</body>
</html>