<script>
    <%
    function replaceAll(str, find, replace) {
        var escapedFind=find.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
        return str.replace(new RegExp(escapedFind, 'g'), replace);
    }

    data.forEach((rawPoints)=>{ if (rawPoints.length > 0) {%>
    let point_<%=replaceAll(rawPoints[0].nomVehicule, " ", "_")%> = [];
    <%rawPoints.forEach((rp)=>{%>
    point_<%=replaceAll(rawPoints[0].nomVehicule, " ", "_")%>.push(["<%=rp.latLoc%>", "<%=rp.longLoc%>"]);
    <%});%>
    L.polyline(point_<%=replaceAll(rawPoints[0].nomVehicule, " ", "_")%>, {color: "<%=rawPoints[0].color%>"}).addTo(mymap);
    getArrow([<%=rawPoints[rawPoints.length-1].latLoc%>, <%=rawPoints[rawPoints.length-1].longLoc%>], [<%=rawPoints.length-2 >= 0 ? rawPoints[rawPoints.length-2].latLoc : rawPoints[0].latLoc%>, <%=rawPoints.length-2 >= 0 ? rawPoints[rawPoints.length-2].longLoc : rawPoints[0].longLoc%>], "<%=rawPoints[0].color%>").addTo(mymap);
    <%}});%>
</script>