<script>
    <%locData.forEach((data) => {%>
    points.push([<%=data.latLoc%>, <%=data.longLoc%>]);
    <%});%>
    repaint("<%=vehicule.color%>");
    <%if (locData.length > 0) {%>
    getArrow([<%=locData[locData.length-1].latLoc%>, <%=locData[locData.length-1].longLoc%>], [<%=locData.length-2 >= 0 ? locData[locData.length-2].latLoc : locData[0].latLoc%>, <%=locData.length-2 >= 0 ? locData[locData.length-2].longLoc : locData[0].longLoc%>], "<%=vehicule.color%>").addTo(mymap);
    <%}%>
    mymap.on("click", function (e) {
        let loc = e.latlng;
        newPoints.push(loc);
        repaint("<%=vehicule.color%>");
    });
</script>