<style>
    .arrow-icon {
        width: 1px;
        height: 1px;
    }

    .arrow-icon > div {
        margin-left: -1px;
        margin-top: -3px;
        transform-origin: center center;
        font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
</style>
<script>
let latlongSave = document.getElementById("savePoints");
let mymap;
let points = [];
let newPoints = [];
let polyline;

init();

function init() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }
    initMap();
}
function initMap() {
    mymap = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoom: 14,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiY2FuYXJkY29uZml0IiwiYSI6ImNrZWJkdHJnNzA3c3kydHF5NHVtcDJ5YTcifQ.lubYcJbPv1kTexJqB2MN1g'
    }).addTo(mymap);
}
function showPosition(position) {
    let gps = {lat:position.coords.latitude, lng:position.coords.longitude};
    mymap.panTo(gps);
}
function repaint(color) {
    if (polyline != null)
        polyline.remove();
    polyline = L.polyline(points.concat(newPoints), {color: color}).addTo(mymap);

    if (latlongSave)
        latlongSave.value = JSON.stringify(newPoints);
}

function getArrow(latlng1, latlng2, color) {

    if (typeof color === 'undefined' || color == null)
        color = '';
    else
        color = 'color:' + color;

    let icon = L.divIcon({ className: 'arrow-icon', bgPos: [5, 5], html: '<div style="' + color + ';transform: rotate(' + getAngle(latlng2, latlng1, -1).toString() + 'deg)">▶</div>' });
    return L.marker([latlng1[0], latlng1[1]], { icon: icon });

}
function getArrows(arrLatlngs, color, arrowCount, mapObj) {

    if (typeof arrLatlngs === undefined || arrLatlngs == null ||
        (!arrLatlngs.length) || arrLatlngs.length < 2)
        return [];

    if (typeof arrowCount === 'undefined' || arrowCount == null)
        arrowCount = 1;

    if (typeof color === 'undefined' || color == null)
        color = '';
    else
        color = 'color:' + color;

    var result = [];
    for (var i = 1; i < arrLatlngs.length; i++) {
        var icon = L.divIcon({ className: 'arrow-icon', bgPos: [5, 5], html: '<div style="' + color + ';transform: rotate(' + getAngle(arrLatlngs[i - 1], arrLatlngs[i], -1).toString() + 'deg)">▶</div>' });
        for (var c = 1; c <= arrowCount; c++) {
            result.push(L.marker(myMidPoint(arrLatlngs[i], arrLatlngs[i - 1], (c / (arrowCount + 1)), mapObj), { icon: icon }));
        }
    }
    return result;
}
function getAngle(latLng1, latlng2, coef) {
    var dy = latlng2[0] - latLng1[0];
    var dx = Math.cos(Math.PI / 180 * latLng1[0]) * (latlng2[1] - latLng1[1]);
    var ang = ((Math.atan2(dy, dx) / Math.PI) * 180 * coef);
    return (ang).toFixed(2);
}
function myMidPoint(latlng1, latlng2, per, mapObj) {
    if (!mapObj)
        throw new Error('map is not defined');

    var halfDist, segDist, dist, p1, p2, ratio,
        points = [];

    p1 = mapObj.project(new L.latLng(latlng1));
    p2 = mapObj.project(new L.latLng(latlng2));

    halfDist = distanceTo(p1, p2) * per;

    if (halfDist === 0)
        return mapObj.unproject(p1);

    dist = distanceTo(p1, p2);

    if (dist > halfDist) {
        ratio = (dist - halfDist) / dist;
        var res = mapObj.unproject(new Point(p2.x - ratio * (p2.x - p1.x), p2.y - ratio * (p2.y - p1.y)));
        return [res.lat, res.lng];
    }

}
function distanceTo(p1, p2) {
    var x = p2.x - p1.x,
        y = p2.y - p1.y;

    return Math.sqrt(x * x + y * y);
}
function toPoint(x, y, round) {
    if (x instanceof Point) {
        return x;
    }
    if (isArray(x)) {
        return new Point(x[0], x[1]);
    }
    if (x === undefined || x === null) {
        return x;
    }
    if (typeof x === 'object' && 'x' in x && 'y' in x) {
        return new Point(x.x, x.y);
    }
    return new Point(x, y, round);
}
function Point(x, y, round) {
    this.x = (round ? Math.round(x) : x);
    this.y = (round ? Math.round(y) : y);
}
</script>