<!DOCTYPE html>
<html>
  <head>
    <title>VeloHydro | Login</title>
    <%- include("../components/head"); %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="/"><b>Velo</b>Hydro</a>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Ce connecter pour acceder au site</p>
          <div class="alert alert-danger alert-dismissible" hidden id="error">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i> Erreur</h5>
            <div id="errorText"></div>
          </div>
          <div class="alert alert-success alert-dismissible" hidden id="success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-check"></i> Succès</h5>
            <div id="successText"></div>
          </div>
          <div class="input-group mb-3">
            <input type="text" id="identifiant" class="form-control" placeholder="Identifiant">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-id-badge"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" id="password" class="form-control" placeholder="Mot de passe">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button id="logBtn" onclick="log(this)" class="btn btn-primary btn-block">Ce loguer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      let link = "<%=link%>";
      document.getElementById("password").addEventListener("keyup", press);
      document.getElementById("identifiant").addEventListener("keyup", press);
      function press(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("logBtn").click();
        }
      }
    </script>
    <%- include("../components/javascript/users/loginJS"); %>
    <%- include("../components/foot"); %>
  </body>
</html>
