<!DOCTYPE html>
<html>
<head>
    <title>VeloHydro | Ajout/Suppression d'utilisateurs</title>
    <%- include("../components/head"); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Accueil</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Gestion utilisateurs</li>
                        </ol>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Enregistrer un nouvel utilisateur</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="error">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorText"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="success">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successText"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user">Nom d'utilisateur</label>
                                                <input type="text" class="form-control" id="user" name="username" placeholder="Utilisateur">
                                            </div>
                                            <div class="form-group">
                                                <label for="pseudo">Pseudo</label>
                                                <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Pseudo">
                                            </div>
                                            <div class="form-group">
                                                <label for="pass">Mot de passe</label>
                                                <input type="password" class="form-control" id="pass" name="password" placeholder="Mot de passe">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="registerUser()" class="btn btn-primary">Enregistrer l'utilisateur</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Modifier un utilisateur</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="errorMod">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorTextMod"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="successMod">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successTextMod"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user">Nom d'utilisateur à modifier</label>
                                                <input type="text" class="form-control" id="userMod" name="username" placeholder="Utilisateur">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="userExist()" class="btn btn-primary">Modifier l'utilisateur</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Supprimer un utilisateur</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="errorSupr">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorTextSupr"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="successSupr">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successTextSupr"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="userSupr">Utilisateur a supprimer</label>
                                                <input type="text" class="form-control" id="userSupr" name="username" placeholder="Utilisateur">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="deleteUser()" class="btn btn-danger">Supprimer l'utilisateur</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
    <%- include("../components/javascript/users/manageJS"); %>
    <script>
        document.getElementById("userSupr").addEventListener("keyup", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                deleteUser();
            }
        });
        document.getElementById("userMod").addEventListener("keyup", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                userExist();
            }
        });
        document.getElementById("user").addEventListener("keyup", pressReg);
        document.getElementById("pseudo").addEventListener("keyup", pressReg);
        document.getElementById("pass").addEventListener("keyup", pressReg);

        function pressReg (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                registerUser();
            }
        }
    </script>
</div>
</body>
</html>
