<!DOCTYPE html>
<html>
<head>
    <title>VeloHydro | Modification d'un utilisateur</title>
    <%- include("../components/head"); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <%- include("../components/header"); %>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Accueil</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="/users/manage">Gestion utilisateurs</a></li>
                            <li class="breadcrumb-item active">Modif. <%=userMod.isUser%></li>
                        </ol>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <h4>Modification de l'utilisateur <b><%=userMod.isUser%></b>.</h4>
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Modifier les informations utilisateur</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="errorInfo">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorTextInfo"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="successInfo">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successTextInfo"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user">Nom d'utilisateur</label>
                                                <input type="text" class="form-control" id="user" name="username" value="<%=userMod.idUser%>" placeholder="Utilisateur">
                                            </div>
                                            <div class="form-group">
                                                <label for="pseudo">Pseudo</label>
                                                <input type="text" class="form-control" id="pseudo" name="pseudo" value="<%=userMod.pseudoUser%>" placeholder="Pseudo">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="modifyInfoUser()" class="btn btn-primary">Mettre à jour l'utilisateur</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt-3 col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Modifier le mot de passe de l'utilisateur</h3>
                                    </div>
                                    <div role="form">
                                        <div class="card-body">
                                            <div class="alert alert-danger alert-dismissible" hidden id="errorPass">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-ban"></i> Erreur</h5>
                                                <div id="errorTextPass"></div>
                                            </div>
                                            <div class="alert alert-success alert-dismissible" hidden id="successPass">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <h5><i class="icon fas fa-check"></i> Succès</h5>
                                                <div id="successTextPass"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pass">Mot de passe</label>
                                                <input type="password" class="form-control" id="pass1" name="password1" placeholder="Mot de passe">
                                            </div>
                                            <div class="form-group">
                                                <label for="pass">Mot de passe</label>
                                                <input type="password" class="form-control" id="pass2" name="password2" placeholder="Répéter le mot de passe">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button onclick="modifyPassUser()" class="btn btn-primary">Mettre à jour l'utilisateur</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        let username = "<%=session.idUser%>";
    </script>
    <%- include("../components/footer"); %>
    <%- include("../components/foot"); %>
    <%- include("../components/javascript/users/modifyJS"); %>
</div>
</body>
</html>
